@tailwind base;
@tailwind components;
@tailwind utilities;


.fileInputLabel {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  } 
  .fileInput {
    display: none;
  }
  